<%= form_with model: @quiz do |quiz_form| %>
  <h3>
  <%#= quiz_form.label :name, "Nouveau quiz" %>
  <%= quiz_form.text_field :name, placeholder: "Nom du quiz" %><br>
  </h3>

  <%= quiz_form.fields_for :questions do |questions_form| %>
    <%= render "question_fields", f: questions_form %>
  <% end %>
  <br>
  <%= link_to_add_association 'add question', quiz_form, :questions, wrap_object: Proc.new { |question| @quiz.questions.build; question } %> <br>
  <%= link_to_add_association 'add category', quiz_form, :categories, wrap_object: Proc.new { |category| @quiz.questions.build.build_category; category } %>
  <br>
  <%= quiz_form.submit %>
<% end %><br>

<%= link_to 'Retour', quizzes_path %> <br>
<%= link_to 'Retour aux plantes', plants_path  %>


