<p>Modifier "<%= @quiz.name %>"</p>

<%= form_with model: @quiz do |form| %>
  <%= form.text_field :name, placeholder: "Nom du quiz" %>
  <%= form.submit 'Modifier' %>
<% end %>
<br>
<%= link_to 'Retour', quizzes_path %>
