<p><%= @quiz.name %>
  - <%= link_to 'Modifier', edit_quiz_path(@quiz) %>
   - <%= link_to 'Supprimer', quiz_path(@quiz), method: :delete, data: {confirm: "Es-tu sûre de vouloir supprimer le quizz : '#{@quiz.name}' ?".capitalize} %>
</p>

<ul>
  <% @quiz.questions.each do |question| %>
    <li>
      <%= question.body %>
      (<%= question.category.name %>)
    </li>
  <% end %>
</ul>

<%= link_to 'Retour', quizzes_path %>


