<h1>Les plantes</h1>

<p>
<%= link_to 'Ajouter une plante', new_plant_path %> <br>
<%= link_to 'Accéder aux quizzes', quizzes_path %> <br>
<%= link_to 'Retour', root_path %>
</p>

<% @plants.order(created_at: :desc).each do |plant| %>
  <div class="card-product">
    <h3><%= plant.nickname %></h3>
    <p><b>Luminosité</b> : <%= plant.luminosity_subtitle %></p>
    <p><b>Arrosage</b> : <%= plant.watering_subtitle %></p>
    <p><b>Animaux</b> : <%= plant.pet_subtitle %></p>
    <%= link_to "Découvrir la plante", plant_path(plant) %>
    - <%= link_to "Modifier", edit_plant_path(plant) %>
    - <%= link_to "Supprimer #{plant.nickname}", plant_path(plant), method: :delete, data: {confirm: "Es-tu sûre de vouloir supprimer la plante : '#{plant.nickname}' ?".capitalize} %>
  </div>
<% end %>


