<h1><%= @plant.nickname %></h1>
<p><b>Nom scientifique</b> : <%= @plant.name %></p>
<p><b>Famille</b> : <%= @plant.family %></p>
<p><b>Légende</b> <%= @plant.legend %></p>
<p><b>Body</b> <%= @plant.body %></p>
<p><b>Citation</b> <i><%= @plant.quote %></i></p>
<p><b>Luminosité</b> : <%= @plant.luminosity_subtitle %></p>
<p><%= @plant.luminosity_text %></p>
<p><b>Arrosage</b> : <%= @plant.watering_subtitle %></p>
<p><%= @plant.watering_text %></p>
<p><b>Animaux</b> : <%= @plant.pet_subtitle %></p>
<p><%= @plant.pet_text %></p>
<p><b>Niveau</b> : <%= @plant.level_subtitle %></p>
<p><%= @plant.level_text %></p>
<%= link_to "Retour", plants_path %>
